force-app/main/default/flows/Insert_Update_Subscription_Send_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Unsubscribe</name>
        <label>Send Unsubscribe</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <actionName>Subscription__c.Marketing_Unsubscribe_Subscription_DE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reset_Mail_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Verify_Email</name>
        <label>Send Verify Email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Subscription__c.Marketing_Verify_Subscription_De</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Unsubscribe</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Awaitng_Conformation</name>
        <label>Check Awaiting Conformation</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_Unsubscribe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Check_If_Awaiting_Conformation</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmation Resent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Mail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Verify_Email</targetReference>
            </connector>
            <label>Check If Awaiting Conformation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Unsubscribe</name>
        <label>Check Unsubscribe</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Reset_Mail_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Check_If_Unsubscribe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsubscribed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Mail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Unsubscribe</targetReference>
            </connector>
            <label>Check If Unsubscribe</label>
        </rules>
    </decisions>
    <interviewLabel>Insert/Update - Subscription - Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insert/Update - Subscription - Send Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reset_Mail_Flag</name>
        <label>Reset Mail Flag</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_Mail__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Awaitng_Conformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
