force-app/main/default/flows/Seizure_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create Task to notify agent about new seizure</description>
        <name>Create_Task_For_Que</name>
        <label>Create Task For Que</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Send_Alert_for_Que</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_Account_Notification_Id.Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>SeizureCreatedDatePlus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Alert_for_Que</name>
        <label>Send Alert for Que</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>QueIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Account_Notification_Id.Value__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Adding_Value_To_QueIds</name>
        <label>Adding Value To QueIds</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>QueIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Notification_Id.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_For_Que</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Account_Seizure_Notification_Group_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account_Seizure_Notification_Group_Id</stringValue>
        </value>
    </constants>
    <constants>
        <name>Custom_Task_Notification_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom_Task_Notification_Id</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckIfAccountIsTestRecord</name>
        <label>CheckIfAccountIsTestRecord</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckIfTestRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Test__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Notification_Id</targetReference>
            </connector>
            <label>CheckIfTestRecord</label>
        </rules>
    </decisions>
    <description>Create Task for Seizure Notification group when new seizure is created</description>
    <formulas>
        <description>Adding 2 days to seizure created date</description>
        <name>SeizureCreatedDatePlus</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} + 2</expression>
    </formulas>
    <interviewLabel>Seizure Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Seizure Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Notification_Id</name>
        <label>Get Account Notification Id</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Seizure_Notification_Group_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Constant__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Adding_Value_To_QueIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Custom_Task_Notification_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Constant__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckIfAccountIsTestRecord</targetReference>
        </connector>
        <object>Seizure__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CustomNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Seizure ( {!$Record.Name} ) For Account {!$Record.Account__r.LastName} is created</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Seizure on account {!$Record.Account__r.LastName}</text>
    </textTemplates>
    <variables>
        <name>QueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
