force-app/main/default/flows/Update_Product2_Send_data_to_external_system.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Details_To_BE</name>
        <label>Send Details To BE</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <actionName>FlowUpdateProductDetailsToBE</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_Update_Website_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>products</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Update_Web_Site</name>
        <label>Check Update Web Site</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Update_Website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Update_Website__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Details_To_BE</targetReference>
            </connector>
            <label>Update Website</label>
        </rules>
    </decisions>
    <interviewLabel>Update - Product2 - Send data to external system {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update - Product2 - Send data to external system</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reset_Update_Website_0</name>
        <label>Reset Update Website</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Update_Website__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Update_Website__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Update_Website__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Update_Website__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Update_Web_Site</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
